<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-12 px-3 py-3 mx-auto text-center">
                    <div class="p-logo-icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock-history" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                            <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                          </svg>
                        </div>
                    <h1 class="display-4">Time Tracker</h1>
                    <p class="small">Simple and fast time tracker</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="row mb-3">
                                <div class="col-md-6 offset-md-3 text-center">
                                    <h4 class="m-0 p-0">{{ currentTimer }}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 offset-md-3 text-center">
                                    <div class="form-group" v-if="showForm">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline0" name="customRadioInline0"
                                                class="custom-control-input" value="research" v-model="type">
                                            <label class="custom-control-label"
                                                for="customRadioInline0">Research</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                class="custom-control-input" value="programing" v-model="type">
                                            <label class="custom-control-label"
                                                for="customRadioInline1">Programming</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline2"
                                                class="custom-control-input" value="meeting" v-model="type">
                                            <label class="custom-control-label"
                                                for="customRadioInline2">Meeting</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline3" name="customRadioInline3"
                                                class="custom-control-input" value="relax" v-model="type">
                                            <label class="custom-control-label"
                                                for="customRadioInline3">Break</label>
                                        </div>
                                    </div>
                                    <div class="form-group" v-if="showForm">
                                        <input type="email" class="form-control" id="description"
                                            placeholder="Enter description" v-model="description">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success btn-sm "
                                            v-on:click="startMethod()" v-if="start">
                                            <div class="text-white p-lh-0 p-1">
                                                <svg width="1em" height="1em" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-play fa-w-14"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" class=""></path></svg>
                                            </div>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm "
                                            v-on:click="stopMethod()" v-if="stop">
                                            <div class="text-white p-lh-0 p-1">
                                                <svg width="1em" height="1em" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="stop" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-stop fa-w-14"><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z" class=""></path></svg>
                                            </div>
                                        </button>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <div class="table-responsive small">
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                                <th>Sort</th>
                                                <th>Description</th>
                                                <th>Start</th>
                                                <th>End</th>
                                                <th>Time</th>
                                                <!-- <th>&nbsp;</th> -->
                                            </thead>
                                            <tbody>
                                                <tr v-for="timer in timers">
                                                    <td>{{ timer.name }}</td>
                                                    <td>{{ timer.description }}</td>
                                                    <td>{{ timer.start }}</td>
                                                    <td>{{ timer.end }}</td>
                                                    <td>{{ timer.time }}</td>
                                                    <!-- <td>
                                                        <i class="p-btn">
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                            </svg>
                                                        </i>
                                                        <i class="p-btn">
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                            </svg>
                                                        </i>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                            <tr>
                                                <td colspan="4" class="text-right">Total</td>
                                                <td>{{ totalTime }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                    <!-- <button type="button" class="btn btn-success" v-on:click="exportMethod()">Export Data</button> -->
                    <button type="button" class="btn btn-danger" v-on:click="deleteMethod()">Delete Data</button>
                </div>
            </div>
            <footer class="border-top py-2">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <small class="text-muted">
                            Made with <span role="img" aria-label="heart">❤️</span> by Alejandro RH. &copy; {{currentYear}}
                        </small>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="js/app.js"></script>
</body>

</html>